<%- include('../partials/head') %>
<div class="pt-2 flex flex-col max-h-screen">
  <h1 class="font-outfit md:font-audiowide text-3xl pt-6 text-center pb-4">Upcoming Events</h1>
  <div class="flex lg:flex-row md:flex-col sm:flex-col justify-center mx-20 my-10">
    <div class="px-10 align-center justify-center">
      <% events.forEach(function(event) { %>
          <div class="max-w-sm overflow-hidden shadow-lg">
              <div class="py-6">
                <div>
                  <h2 class="font-bold text-2xl"><%= event.name %></h2>
                  <h3 class="font-bold"><%= moment(event.date).format('LL h:mm a') %> ET</h3>
                </div>
                <p class="text-gray-700 text-base">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                </p>
              </div>
          </div>
          <div>
              <a class="event-btn bg-[#ea3838]" href="/events/<%= event.id %>">Sign up to Attend!</a>
          </div>
      <% }) %>
    </div>
    <img class="w-1/2 object-contain ml-0" src="/images/chris-montgomery-smgTvepind4-unsplash.jpg" alt="class" />
  </div>
</div>
<%- include('../partials/footer') %>