<%- include('../partials/head') %>
<title>Explore Coding Courses | NextGen Coders Academy</title>
<meta name="description" content="Browse our coding courses at Next Gen Coders Academy. Learn programming languages and gain hands-on experience. Start learning now!">
<%- include('../partials/head_end') %>
<div class="flex justify-center">
    <div class="flex flex-col my-16">
        <div class="bg-blue-100 rounded-lg md:max-w-screen-md px-16">
            <h1 class="font-bold text-3xl mt-16 text-center">Upcoming Cohorts</h1>
            <div class="text-center my-8 py-8 rounded-lg bg-white">
                <% courses.forEach(function(course) { %>
                    <p class="font-bold"><%= course.name %></p>
                    <a class="text-xs hover:text-blue-500 hover:underline" href="/courses/<%= course.id %>">Learn More</a>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>