<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <h1>Home Page</h1>
    <%- include('./home_partials/employees') %>
    <%- include('./home_partials/courses') %>
    <%- include('./home_partials/prospects') %>
    <%- include('./partials/footer') %>
</body>
</html>