<%- include('./partials/head') %>
<div class="">
    <%- include('./home/partials/top_content.ejs')%>
    <div class="flex flex-col justify-center items-center">
        <%- include('./home/partials/top_cta.ejs')%>
        <%- include('./home/partials/checklist.ejs')%>
        <%- include('./home/partials/course_info.ejs')%>
        <%- include('./home/partials/employees.ejs')%>
        <%- include('./home/partials/faq.ejs')%>
    </div>
</div>
<%- include('./partials/footer') %>