<%- include('../partials/head') %>
<div class="">
    <%- include('./partials/top_content.ejs')%>
    <div class="flex flex-col justify-center items-center">
        <%- include('./partials/top_cta.ejs')%>
        <%- include('./partials/checklist.ejs')%>
        <%- include('./partials/course_info.ejs')%>
        <%- include('./partials/employees.ejs')%>
        <%- include('./partials/faq.ejs')%>
    </div>
</div>
<%- include('../partials/footer') %>