<%- include('../partials/head') %>
<title>NextGen Coders Academy | Learn to Code and Shape Your Future</title>
<meta name="description" content="Join NextGen Coders Academy to master coding skills. Explore courses, events, and more to kickstart your tech career. Enroll today!">
<%- include('../partials/head_end') %>
<%- include('../partials/nav')%>
<div class="">
    <%- include('./partials/top_content.ejs')%>
    <div class="flex flex-col justify-center items-center">
        <%- include('./partials/top_cta.ejs')%>
        <%- include('./partials/checklist.ejs')%>
        <%- include('./partials/course_info.ejs')%>
        <%- include('./partials/employees.ejs')%>
        <%- include('./partials/faq.ejs')%>
    </div>
</div>
<%- include('../partials/footer') %>