<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <h1>Home Page</h1>
    <%- include('./partials/employees') %>
    <%- include('./partials/courses') %>
    <%- include('./partials/prospects') %>
    <%- include('../partials/footer') %>
</body>
</htm>